@font-face {
    font-family: "SVN-Abril Fatface";
    src: url("../fonts/SVN-Abril Fatface.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Elephant";
    src: url("../fonts/ELEPHNT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BEAUTIQUEDISPLAY";
    src: url("../fonts/BEAUTIQUEDISPLAY-REGULAR.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HLT JANEAUST";
    src: url("../fonts/HLT JANEAUST.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-VINTAGE";
    src: url("../fonts/SVN-VINTAGE.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-GothamBold";
    src: url("../fonts/SVN-GothamBold.woff2") format("woff2"),
        url("../fonts/SVN-GothamBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SVN-GothamBook";
    src: url("../fonts/SVN-GothamBook.woff2") format("woff2"),
        url("../fonts/SVN-GothamBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "PinyonScript-Regular";
    src: url("../fonts/PinyonScript-Regular.woff2") format("woff2"),
        url("../fonts/PinyonScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


:root {
    --background-color: #f5f8edff;
    --text-color: #787936ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Georgia", serif;
    /* min-height: 100vh; */
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(205 209 206 / 85%)
}

body.modal-open {
  overflow: hidden;
}

.container {
    max-width: 430px;
    width: 100%;
}

.back-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.cards {
    background-image: url('../images/backgrouds/g3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 950px;
}

.cards .card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: var(--text-color);
    background-color: #fff;
    padding: 5px;
}

.card.active {
    display: flex;
}

/* card default */
#card-default {
    background-image: url('../images/backgrouds/g3.png'), url('../images/backgrouds/g218.png');
    background-position: center, bottom;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
}

#card-default .title .text-1 {
    font-family: 'SVN-Abril Fatface', sans-serif;
    font-size: 53px;
    position: relative;
    bottom: -10px;
}

#card-default .title .text-2 {
    font-family: "Elephant", sans-serif;
    font-size: 80px;
    position: relative;
    display: inline-block;
    line-height: 0.4;
}

#card-default .title .text-2::before {
    content: "“";
    font-size: 37px;
    position: absolute;
    left: -22px;
    top: 8px;
}

#card-default .title .text-2::after {
    content: "”";
    font-size: 37px;
    position: absolute;
    left: 122px;
    top: 8px;
}

#card-default .title .text-3 {
    font-family: 'BEAUTIQUEDISPLAY', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    bottom: 5px;
}

#card-default .letter-img {
    width: 78%;
}

#card-default .letter-img img {
    width: 100%;
    position: relative;
    left: -10px;
}

#card-default .main-text .subtext {
    font-family: 'HLT JANEAUST', sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

#card-default .main-text .name-couple {
    font-family: 'SVN-Abril Fatface', sans-serif;
    font-size: 26px;
    font-weight: 100;
    padding-bottom: 15px;
}

#card-default .icons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#card-default .icons .icon .box-img {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#card-default .icons .icon .box-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#card-default .icons .icon .icon-text {
    font-family: 'SVN-VINTAGE', sans-serif;
    font-size: 9px;
    font-weight: 100;
    text-transform: uppercase;
    padding-top: 5px;
}

/* rsvp card */

#rsvp {
    background-image: url('../images/backgrouds/g3.png'), url('../images/backgrouds/g118.png');
    background-position: center, bottom;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    padding: 80px 30px;
    position: relative;
}

#rsvp h2 {
    font-family: 'HLT JANEAUST', sans-serif;
    font-size: 46px;
    font-weight: 300;
    transform: rotate(-5deg);
    margin-right: auto;
    line-height: 1;
}

#rsvp h2:nth-child(1) {
    padding-left: 30px;
}

#rsvp p {
    font-family: 'SVN-GothamBook', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    margin-top: 60px
}

#rsvp p strong {
    font-family: 'SVN-GothamBook', sans-serif;
    font-weight: bold;
}

.rsvp-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 25px 0;
}

.rsvp-buttons input[type="radio"] {
    display: none;
}

.rsvp-buttons label {
    font-family: "SVN-GothamLight", sans-serif;
    padding: 7px 24px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.rsvp-buttons label:hover {
    background-color: #333;
    color: #ffffff;
}

.rsvp-buttons input[type="radio"]:checked+label {
    background-color: var(--text-color);
    color: #ffffff;
}

.message-section {
    margin: 5px 0;
}

.message-section input {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    font-size: 12px;
    color: #333;
    border-radius: 15px;
    font-family: "SVN-GothamLight", sans-serif;
}

.btn-send {
    padding: 8px 30px;
    border: 1px solid #333;
    background-color: var(--text-color);
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-send:hover {
    background-color: transparent;
    color: #ffffff
}

::placeholder {
    font-size: 10px;
}

/* album card */
#album {
    background-image: url('../images/backgrouds/g118.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Webkit browsers (Chrome, Edge, Safari) */
#album .album-container::-webkit-scrollbar {
    width: 8px;
}

#album .album-container::-webkit-scrollbar-thumb {
    background: #979797b3;
    border-radius: 10px;
}

#album h2 {
    font-family: 'BEAUTIQUEDISPLAY', sans-serif;
    font-size: 46px;
    font-weight: 300;
}

#album .album-container {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding-bottom: 100px;
    overflow-y: auto;
}


#album .album-container .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  

#album .album-container img {
    width: 100%;
    margin-top: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

#album .album-container .column img {
    object-fit: cover;
    height: 300px;
}

#album .album-container img:hover {
    transform: scale(1.05);
}

/* Preview overlay */
.blur {
    filter: blur(10px);
}

.preview-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preview-overlay img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 10px;
    animation: zoomIn 0.3s ease;
}


/* Close button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}


.close-btn:hover {
    color: #ff4d4d;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/* invitation-card =========================================> */
#invitation-card {
    background-image: url('../images/backgrouds/g636.png'), url('../images/backgrouds/g3.png');
    background-position: bottom, center;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    padding-top: 60px;
    position: relative;
}

#invitation-card .content .label {
    font-family: "HLT JANEAUST", sans-serif;
    font-size: 26px;
    font-weight: 300;
}

#invitation-card .content .date-time {
    font-family: "SVN-VINTAGE", sans-serif;
    font-size: 32px;
    line-height: 1;
}

#invitation-card .content .lunar-date {
    font-family: "SVN-VINTAGE", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
}

#invitation-card .content .divider {
    width: 100%;
    padding: 80px 0 60px;
}

#invitation-card .content .divider img {
    width: 25%;
    height: auto;
}

#invitation-card .content .venue-name {
    font-family: "SVN-VINTAGE", sans-serif;
    font-size: 30px;
}

#invitation-card .content .venue-address {
    font-family: "SVN-VINTAGE", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
}

#invitation-card .content .footer-decoration {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}

#invitation-card .content .footer-decoration .img-couple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#invitation-card .content .footer-decoration img {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: -14px;
    left: 135px;
}

/* QR code ===================================> */

#qrcode {
    background-image: url('../images/backgrouds/g3.png'), url('../images/backgrouds/g118.png');
    background-position: center, bottom;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
    padding-top: 40px;
}

#qrcode p {
    font-family: 'PinyonScript-Regular', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#qrcode .qrcode-box {
    width: 50%;
    margin: 5px 0;
}

#qrcode .husband-name {
    margin-top: 40px;
    margin-bottom: 10px;
}

#qrcode .qrcode-box img {
    width: 100%;
}

/* video overlay */
.envelope {
    width: 250px;
    cursor: pointer;
    display: block;
    margin: 5px auto;
    transform-origin: top center;
    animation: swing 3s ease-in-out infinite;
}

.shake-bottom {
    -webkit-animation: shake-bottom 4s ease-in-out infinite both;
    animation: shake-bottom 4s ease-in-out infinite both;
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

/* Overlay video */
.video-modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center; 
  align-items: center;
}

/* Video box */
.video-content {
  position: relative;
  width: 90%;
  max-width: 500px;
}

/* Video element */
.video-content video {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

/* Nút Close */
.close-video-btn {
  position: absolute;
  top: 5px; 
  right: 5px;
  color: #fff;
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 23px;
  z-index: 10000;
}
/* 
@media (min-width: 1401px) {
    .video-content {
        padding-bottom: 50%; 
    }
}

@media (max-width: 1400px) {
    .video-content {
        padding-bottom: 64%; 
    }
}

@media (max-width: 992px) {
    .video-content {
        padding-bottom: 77%; 
    }
}

@media (max-width: 768px) {
    .video-content {
        padding-bottom: 100%; 
    }
}

@media (max-width: 576px) {
    .video-content {
        padding-bottom: 132%; 
    }
}

@media (max-width: 480px) {
  .video-content {
        padding-bottom: 160%; 
    }
}

@media (max-width: 375px) {
    .video-content {
        width: 100%;
        height: auto;
        padding-bottom: 168%; 
    }

    .close-btn {
        top: 10px;
        right: 10px;
    }
} */
